.imgC {
    width: 1900px;
    height: 800px;
}

#img2 {
    width: 1900px;
    height: 800px;
}

#img3 {
    width: 1900px;
    height: 800px;
}

#img4 {
    width: 1900px;
    height: 800px;
}

.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(52,152,219,1) 100%);
}

.navbar .navbar-brand, 
.navbar {
    color: #ffffff; 
}

.navbar .nav-link:hover {
    color: #f1f1f1; 
}

.navbar .navbar-nav {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

path {
    fill: aqua;
    stroke: white;
    stroke-width: 1px;
}

path:hover{
    fill: purple;
    stroke: red;
    stroke-width: 3px;
    transition: fill 0.4s; 
}

.card-img-top {
    height: 400px; 
    object-fit: cover;

  }

  .card-text {
    height: auto; 
    width: auto;
  }
